<h1>質問</h1>
<p>  <a href="/">ポータルページへ</a></p>
<h2>質問</h2>
<form action="/article" method="POST">
  <p>質問</p>
  <input type="text" name="message" />

  <input type="submit" value="質問" />
</form>
