<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>portal</title>
</head>
  <body>
    <a href="sign_up">
      <p>新規ユーザー登録</p>
    </a>

    <a href="login">
      <p>ログイン</p>
    </a>

    <a href="article">
      <p>質問</p>
    </a>

    <a href="access">
      <p>履歴</p>
    </a>

  </body>
</html>
